
    <mat-toolbar color="primary" class="header">
      <button mat-icon-button class="example-icon" (click)="toggleNavMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="ml-1">EWM System</span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
        <span class="example-spacer"></span>
        <span *ngIf="loggedUser$ | async as loggedUser">{{loggedUser.firstName + ' ' + loggedUser.lastName}}</span>
      <button mat-icon-button class="example-icon" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
