.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .header {
    margin: 10px;
    color: #999999;
    background: #fafafa;
    border-radius: 4px;
    box-shadow: 0;
    /* border: 1px solid red; */
    width: 97%;
    height: 48px;
    font-weight: 200;
}

// .header-button {
//     color: white;
//     background: #4ac09c !important;
// }

.ml-1 {
    margin-left: 1% !important;
}