.table-container {
    margin-top: 20px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    height: 100%;
}

.back-button {
    float: right;
}

.details-container {
    height: 700px;
    padding-top: 16px;
}

.card {
    background-color: #fff;
    margin-bottom: 30px;
    border: none;
}

.timesheetStatus {
    padding: 1%;
    margin-right: 1%;
    text-align: center;

}

.color-1 {
    background-color: lightgrey;
}

.color-2 {
    background: linear-gradient(60deg, #66bb6a, #43a047);
}

.color-3 {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    color: white;
}

.color-4 {
    background-color: #b00020;
    color: white;
}

.color-5 {
     background: linear-gradient(60deg, #ffa726, #fb8c00);
}