.example-card {
  margin-top: 20px;
  margin-left: 35%;
  margin-right: 40%;
  margin-top: 1em;
  width: 30%;
  height: 40%;
}

.frm-field {
  margin-top: 10px;
}

.form-box {
  background: #fff;
  margin: 30px auto;
  max-width: 500px;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16), 0 3px 6px 0px rgba(0, 0, 0, 0.23);
}

form#login-form {
  overflow: hidden;
  position: relative;
  padding: 40px;
}

.head {
  color: #fff;
  font-size: 34px;
  font-weight: normal;
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 150, 136, 1);
}

.btn {

  background: rgba(0, 150, 136, 1);
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 5px 0;
  outline: medium none;
  overflow: hidden;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out 0s;
  width: 100%;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.16), 0 1px 2px 0px rgba(0, 0, 0, 0.23);
}

.text-p {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}

.text-p a {
  color: rgba(0, 150, 136, 1);
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

#spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}