<div class="table-container">
    <div style="margin-bottom:15px;">
        <h2 style="display:inline;"> Employee invoices </h2>
        <button mat-button class="add-button" *ngIf="timesheets$ | async as timesheets"
            (click)="addNewInvoice(timesheets)">Add new</button>
    </div>
    <div class="table-body">
        <table mat-table [dataSource]="invoices$" class="">
            <ng-container matColumnDef="month">
                <th mat-header-cell *matHeaderCellDef> Month </th>
                <td mat-cell *matCellDef="let element"> {{element.month}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date | date: 'shortDate'}} </td>
            </ng-container>

            <ng-container matColumnDef="employee">
                <th mat-header-cell *matHeaderCellDef> Employee </th>
                <td mat-cell *matCellDef="let element"> {{element.employee.name}} </td>
            </ng-container>


            <ng-container matColumnDef="totalHours" class="tx-center">
                <th mat-header-cell *matHeaderCellDef> Total Hours </th>
                <td mat-cell *matCellDef="let element" class="tx-center"> {{element.totalHours | hoursMinutes }} </td>
            </ng-container>

            <ng-container matColumnDef="totalCost" class="tx-center">
                <th mat-header-cell *matHeaderCellDef> Total Pay </th>
                <td mat-cell *matCellDef="let element" class="tx-center"> {{element.totalCost| number:'1.2-2'}} {{' BAM'}} </td>
            </ng-container>


            <ng-container matColumnDef="numberOfDays" class="tx-center">
                <th mat-header-cell *matHeaderCellDef> Days included </th>
                <td mat-cell *matCellDef="let element" class="tx-center"> {{element.timesheets?.length}} </td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <div class="example-flex-container">
                        <button mat-button color="primary" (click)="openDetails(element)">
                            Open Details
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell pl-45" [attr.colspan]="displayedColumns.length">
                  No data found
                </td>
              </tr>
        </table>
    </div>
</div>