table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 20px;
    width: 50%;
  }
  
  .table-container {
    margin-top: 20px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
  .table-body {
    margin-top: 10px;
  }
  
  .table-cell {
    text-align: left;
    font-size: 18px;
  }
  
  .center {
    text-align: center;
  }
  
  .details-button {
    background-color: #4ac09c;
    color: white;
  }
  
  .add-button {
  
    background-color: #4ac09c;
    color: white;
    float: right;
  
  }
  
  .table-cell {
    text-align: left;
    font-size: 18px;
    padding: 0.5em;
  }
  
  #spinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  