
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$custom-palette: (
 50: #4AC09D,
 100: #4AC09D,
 200: #4AC09D,
 300: #4AC09D, 400: #4AC09D, 500: #4AC09D, 600: #4AC09D, 700: #4AC09D, 800: #4AC09D,  900: #4AC09D,
 // ... continues to 900
 contrast: (
  50: #4AC09D,
  100: #4AC09D,
  200: #4AC09D,
 300: #4AC09D, 400: #4AC09D, 500: #4AC09D, 600: #4AC09D, 700: #4AC09D, 800: #4AC09D,  900: #4AC09D,

   // ... continues to 900
 )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$workManageApp-primary: mat.define-palette($custom-palette);
$workManageApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$workManageApp-warn: mat.define-palette(mat.$red-palette);



// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$workManageApp-theme: mat.define-light-theme((
  color: (
    primary: $workManageApp-primary,
    accent: $workManageApp-accent,
    warn: $workManageApp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($workManageApp-theme);

/* You can add global styles to this file, and also import other style files */


@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #eeeeee; } //
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pl-45 {
 padding-left: 45% !important;
}
